{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Launching the mGage {{ environ }} Elastic Filesystem",
  "Resources": {
    "MountTargetSecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": "Security group for mount target",
        "VpcId": "{{ vpc_id }}",
        "Tags": [
          { "Key": "mGage:env",  "Value": "{{ environ }}" },
          { "Key": "mGage:unit",  "Value": "techops"  },
          { "Key": "mGage:product",  "Value": "EFS"  },
          { "Key": "mGage:subproduct",  "Value": "Mount Target Security Group"  },
          { "Key": "Name", "Value": "{{ environ }}-efs-MountTargetSecurityGroup" }
        ],
        "SecurityGroupIngress": [
          {
            "IpProtocol": "tcp",
            "FromPort": "2049",
            "ToPort": "2049",
            "CidrIp": "{{ efs_location | default('0.0.0.0/0') }}"
          }
        ]
      }
    },
    "FileSystem": {
      "Type": "AWS::EFS::FileSystem",
      "Properties": {
        "PerformanceMode": "{{ efs_performance_mode }}",
        "FileSystemTags": [
          { "Key": "mGage:env",  "Value": "{{ environ }}" },
          { "Key": "mGage:unit",  "Value": "techops"  },
          { "Key": "mGage:product",  "Value": "EFS"  },
          { "Key": "mGage:subproduct",  "Value": "Filesystem"  },
          { "Key": "Name", "Value": "{{ efs_name }}"}
        ]
      }
    },
    {% for subnet in efs_subnet -%}
      "MountTarget{{ loop.index }}": {
        "Type": "AWS::EFS::MountTarget",
        "Properties": {
          "FileSystemId": { "Ref": "FileSystem" },
          "SubnetId": "{{ subnet }}",
          "SecurityGroups": [ { "Ref": "MountTargetSecurityGroup" } ]
        }
      }
      {% if not loop.last %},{% endif -%}
    {% endfor -%}
  },
  "Outputs": {
    "FilesystemID": {
      "Description": "Elastic Filesystem ID",
      "Value": {
        "Ref": "FileSystem"
      }
    }
  }
}
