{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Launching the mGage {{ environ }} Elastic Filesystem",
  "Resources": {
    "MountTargetSecurityGroup": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "GroupDescription": "Security group for mount target",
        "VpcId": "{{ vpc_id }}"",
        "Tags": [
          { "Key": "mGage:env",  "Value": "{{ environ }}" },
          { "Key": "mGage:unit",  "Value": "techops"  },
          { "Key": "mGage:product",  "Value": "EFS"  },
          { "Key": "mGage:subproduct",  "Value": "Mount Target Security Group"  },
          { "Key": "Name", "Value": "{{ environ }}-efs-MountTargetSecurityGroup" }
        ]
        "SecurityGroupIngress": [
          {
            "IpProtocol": "tcp",
            "FromPort": "2049",
            "ToPort": "2049",
            "CidrIp": "{{ efs_location | default('0.0.0.0/0') }}"
          }
        ]
      }
    },
    "FileSystem": {
      "Type": "AWS::EFS::FileSystem",
      "Properties": {
        "FileSystemTags": [
          { "Key": "mGage:env",  "Value": "{{ environ }}" },
          { "Key": "mGage:unit",  "Value": "techops"  },
          { "Key": "mGage:product",  "Value": "EFS"  },
          { "Key": "mGage:subproduct",  "Value": "Filesystem"  },
          { "Key": "Name", "Value": "{{ environ }}-efs-Filesystem" }
        ]
      }
    },
    {% for subnet in efs_subnet -%}
    "MountTarget": {
      "Type": "AWS::EFS::MountTarget",
      "Properties": {
        "FileSystemId": { "Ref": "FileSystem" },
        "SubnetId": "{{ subnet }}",
        {% if not loop.last %},{% endif -%}
        "SecurityGroups": [ { "Ref": "MountTargetSecurityGroup" } ]
      }
    },
    {% endfor -%}
  }
}
